##Autostart the script
#If you’re using systemd then create a file called pishutdown.service in /etc/systemd/system/
#(replace #path\_to\_pishutdown with appropriate path):
[Unit]
Description=Power Button shutdonw & LED
After=network.target


[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/pi-shutdown/pishutdown.py
WorkingDirectory=/home/pi/pi-shutdown/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pi-shutdown
User=root
Group=root

[Install]
WantedBy=multi-user.target

##Enable service:
#sudo systemctl enable pishutdown.service
#Run service (will be automatically started on next reboot):
#sudo systemctl start pishutdown.service
